:root {
  --grid-size: 450px;
  --grid-region-size: calc(var(--grid-size) / 3);
  --grid-cell-size: calc(var(--grid-region-size) / 3);

  --app-background-color: white;
  --grid-background-color: white;
  --grid-line-color: rgb(200, 200, 200);
  --grid-cell-color: black;
  --grid-cell-color__focused: white;
  --grid-cell-background-color__focused: black;
  --grid-cell-background-color__hover: rgb(230, 230, 230);
  --grid-cell-color__immutable: #898989;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--app-background-color);
}

.Grid__container {
  display: grid;
  grid-template: repeat(3, var(--grid-region-size)) / repeat(3, var(--grid-region-size));
  grid-gap: 2px;
  background: var(--grid-line-color);
  border: 1px solid var(--grid-line-color);
}

.Grid__region {
  display: grid;
  grid-template: repeat(3, var(--grid-cell-size)) / repeat(3, var(--grid-cell-size));
}

.Grid__cell {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grid-line-color);
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  background: var(--grid-background-color);
  color: var(--grid-cell-color);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.Grid__cell:not(.Grid__cell--focused):hover {
  background: var(--grid-cell-background-color__hover);
}

.Grid__cell--focused {
  background: var(--grid-cell-background-color__focused);
  color: var(--grid-cell-color__focused);
  cursor: text;
}

.Grid__cell--immutable {
  color: var(--grid-cell-color__immutable);
  cursor: not-allowed;
}
