/* CSS Resets */

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

/* Base CSS */

:root {
  /* Primary Colors */
  /* ============== */

  --primary-shade-1: #035388;
  --primary-shade-2: #0b69a3;
  --primary-shade-3: #127fbf;
  --primary-shade-4: #1992d4;
  --primary-shade-5: #2bb0ed;

  --primary-tint-1: #40c3f7;
  --primary-tint-2: #5ed0fa;
  --primary-tint-3: #81defd;
  --primary-tint-4: #b3ecff;
  --primary-tint-5: #e3f8ff;

  /* Neutral Colors */
  /* ============== */

  --neutral-shade-1: #1f2933;
  --neutral-shade-2: #323f4b;
  --neutral-shade-3: #3e4c59;
  --neutral-shade-4: #52606d;
  --neutral-shade-5: #616e7c;

  --neutral-tint-1: #7b8794;
  --neutral-tint-2: #9aa5b1;
  --neutral-tint-3: #cbd2d9;
  --neutral-tint-4: #e4e7eb;
  --neutral-tint-5: #f5f7fa;

  /* Supporting Colors */
  /* ================= */

  --pink-shade-1: #44056e;
  --pink-shade-2: #580a94;
  --pink-shade-3: #690cb0;
  --pink-shade-4: #7a0ecc;
  --pink-shade-5: #8719e0;

  --pink-tint-1: #9446ed;
  --pink-tint-2: #a368fc;
  --pink-tint-3: #b990ff;
  --pink-tint-4: #dac4ff;
  --pink-tint-5: #f2ebfe;

  --red-shade-1: #610316;
  --red-shade-2: #8a041a;
  --red-shade-3: #ab091e;
  --red-shade-4: #cf1124;
  --red-shade-5: #e12d39;

  --red-tint-1: #ef4e4e;
  --red-tint-2: #f86a6a;
  --red-tint-3: #ff9b9b;
  --red-tint-4: #ffbdbd;
  --red-tint-5: #ffe3e3;

  --yellow-shade-1: #8d2b0b;
  --yellow-shade-2: #b44d12;
  --yellow-shade-3: #cb6e17;
  --yellow-shade-4: #de911d;
  --yellow-shade-5: #f0b429;

  --yellow-tint-1: #f7c948;
  --yellow-tint-2: #fadb5f;
  --yellow-tint-3: #fce588;
  --yellow-tint-4: #fff3c4;
  --yellow-tint-5: #fffbea;

  --green-shade-1: #014d40;
  --green-shade-2: #0c6b58;
  --green-shade-3: #147d64;
  --green-shade-4: #199473;
  --green-shade-5: #27ab83;

  --green-tint-1: #3ebd93;
  --green-tint-2: #65d6ad;
  --green-tint-3: #8eedc7;
  --green-tint-4: #c6f7e2;
  --green-tint-5: #effcf6;

  /* Module Specific */

  --app-background-color: white;

  --grid-size: 450px;
  --grid-region-size: calc(var(--grid-size) / 3);
  --grid-cell-size: calc(var(--grid-region-size) / 3);

  --grid-background-color: white;
  --grid-line-color: rgb(200, 200, 200);
  --grid-cell-color: black;
  --grid-cell-color__focused: white;
  --grid-cell-background-color__focused: black;
  --grid-cell-background-color__hover: rgb(230, 230, 230);
  --grid-cell-color__immutable: #898989;
}

@media (max-width: 480px) {
  :root {
    --grid-size: 400px;
  }
}

@media (max-width: 435px) {
  :root {
    --grid-size: 380px;
  }
}

@media (max-width: 415px) {
  :root {
    --grid-size: 356px;
  }
}

@media (max-width: 390px) {
  :root {
    --grid-size: 325px;
  }
}

@media (max-width: 340px) {
  :root {
    --grid-size: 300px;
  }
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--app-background-color);
}
